<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在线尝试 Bootstrap 实例</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/layoutit.css">
    <link href="css/css.css?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='css/all.min.css'>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<!--    <script type="text/javascript" src="js/popper.min.js"></script>-->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/jquery.htmlClean.js"></script>
    <script type="text/javascript" src="js/scripts.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body class="devpreview sourcepreview" style="min-height: 632px; cursor: auto;padding-top: 40px;padding-bottom: 0px">
    <div class="container" style="padding-left: 0px;padding-right: 0px">
        <div class="row clearfix">
            <div class="col-md-12 column">
<!--                <div class="col-md-12 column" style="text-align:center">-->
<!--                    <img src="image/default3.jpg"/>-->
<!--                </div>-->
<!--                <ul class="nav nav-tabs" style="background: #2a6496">-->
<!--                    <li class="active">-->
<!--                        <a href="#">首页</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">简介</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">信息</a>-->
<!--                    </li>-->
<!--                </ul>-->

                <nav class="navigationWrapper">
                    <div class="logoWrapper">
                        <span class="stylish">Stylish</span>
                        <span class="logo">Logo</span>
                    </div>
                    <ul class="navigation">
                        <li class="parent"><a class="link" href="#">首页</a></li>
                        <li class="parent"><a class="link" href="#">公司简介</a></li>
                        <li class="parent"><a class="link" href="#">设备展示</a></li>
                        <li class="parent"><a class="link" href="#">联系我们</a></li>
                        <li class="parent"><a class="link" href="#">联系我们</a></li>
                        <li class="parent"><a class="link" href="#">联系我们</a></li>
                    </ul>
                </nav>

                <div class="carousel slide padding" id="carousel-728470">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-728470">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-728470">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-728470">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="image/default1.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    First Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="image/default1.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    Second Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="image/default1.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    Third Thumbnail label
                                </h4>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-728470" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-728470" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <div class="row clearfix" style="padding-right: 30px;padding-left: 30px">
            <div class="col-md-4 column">
                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            <div class="col-md-4 column">
                <h2>
                    Heading
                </h2>
                <p>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
        </div>
        <div class="page-address">
            <div class="col-md-12 column" style="text-align:center">

            </div>
        </div>
        <div class="page-bottom">
            <div class="col-md-12 column" style="text-align:center;width: 100%;">
                Copyright © 2013-2019 菜鸟教程  runoob.com All Rights Reserved. 备案号：<a href="#">闽ICP备15012807号-1</a>
            </div>
        </div>
    </div>
</body>
<style>
    .page-address{
        background: #333;
        height: 50px;

    }
    .page-bottom{
        background-color: #222;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #222;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
        color: white;
        text-transform: uppercase;
        overflow: hidden;
        font-size: 9px;
    }
    .padding{
        /*padding-left: 30px;*/
        /*padding-right: 30px;*/
        /*background: #fff;*/
    }
</style>
</html>